# Byte-compiled
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# Virtual environment
venv/

# VS Code
.vscode/

# Distribución
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# opencode
AGENTS.md